

body {

margin-left: 10em;
margin-right: 10em;

}

#fork-img-logo {

float: left;
font-family: Veranda;
margin-left: 0px;
margin: 2%;
padding-bottom: 2%;

}
/*delicious*/
h1 {

font-family: 'Lobster', cursive;
font-size: 30px;
margin-top: 20px;
margin-bottom: 0px;
margin-left: 1px;
padding-top:1.8%;

}

h2 {

font-family: 'Source Sans Pro', sans-serif;
font-size: 10px;
margin-top: 0px;
}

/*chocolate pizza*/
h3 {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 40px;
font-style: bold;
text-align: justify;
margin-bottom: 1px;

}

#posting-date{

font-family: 'Source Sans Pro', sans-serif;
font-size: 10px;
margin-top: 1px;

}
.social-media-logos {

float:right;
display: inline-block;
margin-top: -40px;
margin-right: 60px;

}

#fb-tile, #twit-tile, #google-tile, #insta-tile, #flic-tile, #pintr-tile {

margin-left: 0px;
margin-right: 0px;
padding-left: 0;
padding-right: 0;

}

#rss-tile {

margin-left: 4px;

}

#mail-tile {

/*no styling yet  */

}

#topline {
 background: repeating-linear-gradient(45deg,
 grey, grey 2px, white 2px, white 4px)
 background: repeating-linear-gradient(45deg,
 grey, grey 2px, white 2px, white 4px);
 width: 100%;
 height: 16px;
 border: 2px;

 }

#list-l {

  display: inline-block;
  width: 31.3%;
  float: left;
  margin: 1%;

}

#list-r {

  display: inline;
  width: 31.3%;
  float: left;
  margin: 1%;

}

#bottom-line {

clear: both;

}

#vanessa-pic {

float: left; 

}


#bottom-paragraph {

clear: both;

}

#footer {

text-align: center;

}
